button {
  border: none;
  cursor: pointer;
}
/**
 * Default form styles
 */
legend {
  padding: 0;
}

fieldset {
  border: none;
  padding: 0;
  margin: 0;
}

select {
  appearance: none;
}

input {
  font-family: black;
}

address {
  font-style: normal;
}
/**
 * Default image styles
 */
img {
  display: block;
  max-width: 100%;
  height: auto;
}
/**
 * Default link styles
 */
a {
  cursor: pointer;
  color: inherit;
  text-decoration: none;
}
/**
 * Default list styles
 */
ul,
ol {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
/**
 * Default page styles
 */
html {
  height: 100%;
  color: black;
  scroll-behavior: smooth;
}

body {
  height: auto;
  position: relative;
}

address {
  font-style: normal;
}

*::selection {
  color: black;
  background: grey;
}

*:focus {
  outline: none;
}
/**
 * Default header styles
 */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

h1 {
  color: black;
  word-break: break-word;
}

h2 {
  color: black;
}

h3 {
  color: black;
}