/**
 * Default form styles
 */
 legend {
  padding: 0;
}
fieldset {
  border: none;
  padding: 0;
  margin: 0;
}
select {
  appearance: none;
}
input {
  font-family: black;
}
address {
  font-style: normal;
}
